html {
    scroll-behavior: smooth;
}

header {
    background-color: #22272d;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
    position: fixed;
    z-index: 10;
    margin: 0;
}

#a1 {
    color: #ffffff;
    text-align: center;
}

a {
    color: #f0f8ff;
    text-decoration: none;
}

a:hover {
    color: #1197f0;
}

a:active {
    color: #0bff9d;
}

a:visited {
    color: #063f65;
}

#sidebar {
    width: 250px;
    height: 80px;
    padding: 30px;
    position: sticky;
    top: 45%;
    margin-left: 40px;
    text-align: center;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

h1 {
    margin-top: 40px;
    text-align: center;
    color: #000000;
}

.main-container {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.relative-box{
    position: relative;
    width: 600px;
    left: 80px;
}
img {
    border-radius: 10px;
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
}

p {
    text-align: left;
    text-indent: 40px;
    color: #424e59;
    font-style: italic;
}

.p2 {
    text-align: left;
    color: #000000;
    font-style: italic;
}

.p3 {
    text-align: left;
    color: #000000;
    font-style: italic;
    display: inline-block;
    margin-left: -40px;
}

p:first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

caption {
    font-family: Arial, sans-serif;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 10px;
    color: #37434e;
}

table {
    text-align: left;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border-color: #000000;
}

th {
    background-color: #22272d;
    color: #ffffff;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #e1e2e2;
}

.secondary-container {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: bold;
    text-align: center;
}

input[type="text"]:focus {
    outline: none;
    border-radius: 4px;
    border: 3px solid #0b9dff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: -20px 10px 20px 0;
}

input[type="radio"] {
    margin: -20px 10px 20px 10px;
    color: #37434e;
    transform: scale(1.5);
    cursor: pointer;
}

select {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
}

select:focus {
    outline: none;
    border-radius: 4px;
    border: 3px solid #0b9dff;
}

option {
    padding: 10px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0 20px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: rgb(136, 200, 200);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    background-color: #22272d;
    width: 100%;
    color: #ffffff;
    position: static;
    height: 40px;
    bottom: 0;
    padding-top: 20px;
    margin-top: 40px;
    text-indent: 40px;
}